@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
a,
a:active {
  font-size: 16px;
  color: #a2a2a2;
}
body {
  background-color: #f5f7fa;
}
.main {
  position: relative;
  color: #ffffff;
  max-width: 1200px;
  width: 1200px;
  height: 1319px;
  background-color: #ffffff;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
  margin: 40px auto 40px auto;
}
.aside-info {
  margin: 57px 0 0 41px;
}
.aside-info ul {
  margin: 21px 0 21px 41px;
}
.aside {
  background-color: #1e2939;
  width: 370px;
  height: 1319px;
}
.photo {
  margin: 40px 0 0 0;
}
.contacts {
  padding: 0 0 54px 0;
}
.contacts p {
  font-weight: 700;
  padding: 0 0 10px 0;
}
.contacts a {
  margin: 0 0 0 10px;
  color: #686f7a;
  font-size: 16px;
  font-weight: 400;
}
.phone {
  text-decoration: none;
}
.contacts h2 {
  padding: 0 0 20px 0;
}
.tech-skills ul {
  font-weight: 400;
  font-size: 18px;
  color: #ff6b08;
}
.tech-skills span {
  color: #ffffff;
}
.soft-skills {
  margin: 52px 0 0 0;
}
.soft-skills ul {
  color: #ff6b08;
}
.soft-skills span {
  color: #fff;
}
.main-section {
  right: 0;
  top: 0;
  height: 1319px;
  width: 830px;
  position: absolute;
  color: #000;
  background-color: #fff;
}
.main-section div {
  margin: 0 0 0 89px;
}
.front-end-text {
  margin: 0 0 24px 0;
  font-weight: 700;
}
.front-end {
  width: 55%;
  padding: 50px 0 0 0;
}
.front-end h1 {
  font-size: 45px;
  font-weight: 700;
  margin: 0 0 21px 0;
}
.projects {
  padding: 64px 0 0 0;
}
.projects h2 {
  padding: 0 0 12px 0;
}
.projects ol {
  text-decoration: none;
  letter-spacing: 0.42px;
  padding: 0 0 0 20px;
  font-weight: 600;
}
.projects a {
  font-weight: 500;
}
.span-text {
  font-weight: 500;
}
.span-font-weight {
  font-weight: 900;
}
.dots {
  
  color: #686f7a;
  font-size: 10px;
  font-weight: 900;
}
.work_experience {
  padding: 52px 0 0 0;
  width: 73%;
}
.work_experience h3 {
  padding: 18px 0 0 0;
}
.work_experience li {
  padding: 10px 0 0 0;
  color: #595959;
}

.orange-text {
  color: #ff6b08;
}
.grey-text {
  padding: 14px 0 14px 0;
  color: #d0d0d0;
}
.manager {
  padding: 24px 0 0 0;
  width: 70%;
}
.manager li {
  padding: 0 0 10px 0;
  color: #595959;
}
.manager_LLC {
  padding: 20px 0 0 0;
}
.manager_LLC li {
  padding: 0 0 10px 0;
  color: #595959;
}
.Education {
  padding: 25px 0 0 0;
}
.Education h3 {
  padding: 13px 0 0 0;
}
